/*Estos estilos son para las paginas los lugares turisticos de: Guayacanes, San Pedro de Macoris y Juan Dolio*/

	#parrafo
				{
					
					margin-top: 0.5em;
					margin-left: 1em;
					margin-right: 1em;
					margin-bottom: 0.5em;
				}
				
				
	
	#bb
				{
					color:OrangeRed;
					margin-top: 0.5em;
					margin-left: 0.5em;
					margin-bottom: 0.5em;
			
				}
				
	
	
				